<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.product.client.ProductCommentMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.product.model.ProductComment" >
    <id column="id" property="id" />
    <result column="create_account" property="createAccount" />
    <result column="update_account" property="updateAccount" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="content" property="content" />
    <result column="star" property="star" />
    <result column="product_info_id" property="productInfoId" />
    <result column="member_id" property="memberId" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_account, update_account, create_time, update_time, content, star, product_info_id, 
    member_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.product.model.ProductCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pro_product_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pro_product_comment
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pro_product_comment
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.product.model.ProductComment" >
    insert into pro_product_comment (id, create_account, update_account, create_time, update_time, 
      content, star, product_info_id, member_id)
    values (#{id}, #{createAccount}, #{updateAccount}, #{createTime}, #{updateTime}, 
      #{content}, #{star}, #{productInfoId}, #{memberId})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.product.model.ProductComment" >
    insert into pro_product_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="productInfoId != null" >
        product_info_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="star != null" >
        #{star},
      </if>
      <if test="productInfoId != null" >
        #{productInfoId},
      </if>
      <if test="memberId != null" >
        #{memberId},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.product.model.ProductCommentExample" resultType="java.lang.Integer" >
    select count(*) from pro_product_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.product.model.ProductComment" >
    update pro_product_comment
    <set >
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="star != null" >
        star = #{star},
      </if>
      <if test="productInfoId != null" >
        product_info_id = #{productInfoId},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.product.model.ProductComment" >
    update pro_product_comment
    set create_account = #{createAccount},
      update_account = #{updateAccount},
      create_time = #{createTime},
      update_time = #{updateTime},
      content = #{content},
      star = #{star},
      product_info_id = #{productInfoId},
      member_id = #{memberId}
    where id = #{id}
  </update>
</mapper>