<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.product.client.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.product.model.ProductCategory" >
    <id column="id" property="id" />
    <result column="cate_code" property="cateCode" />
    <result column="cate_name" property="cateName" />
    <result column="pid" property="pid" />
    <result column="level" property="level" />
    <result column="description" property="description" />
    <result column="keyworks" property="keyworks" />
    <result column="page_title" property="pageTitle" />
    <result column="is_valid" property="isValid" />
    <result column="create_time" property="createTime" />
    <result column="create_account" property="createAccount" />
    <result column="update_time" property="updateTime" />
    <result column="update_account" property="updateAccount" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cate_code, cate_name, pid, level, description, keyworks, page_title, is_valid, 
    create_time, create_account, update_time, update_account
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.product.model.ProductCategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pro_product_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pro_product_category
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pro_product_category
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.product.model.ProductCategory" useGeneratedKeys="true" keyProperty="id" >
    insert into pro_product_category (cate_code, cate_name, pid, level, description, keyworks, 
      page_title, is_valid, create_time, create_account, update_time, update_account
      )
    values (#{cateCode}, #{cateName}, #{pid}, #{level}, #{description}, #{keyworks}, 
      #{pageTitle}, #{isValid}, #{createTime}, #{createAccount}, #{updateTime}, #{updateAccount}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.product.model.ProductCategory" useGeneratedKeys="true" keyProperty="id" >
    insert into pro_product_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cateCode != null" >
        cate_code,
      </if>
      <if test="cateName != null" >
        cate_name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="keyworks != null" >
        keyworks,
      </if>
      <if test="pageTitle != null" >
        page_title,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cateCode != null" >
        #{cateCode},
      </if>
      <if test="cateName != null" >
        #{cateName},
      </if>
      <if test="pid != null" >
        #{pid},
      </if>
      <if test="level != null" >
        #{level},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="keyworks != null" >
        #{keyworks},
      </if>
      <if test="pageTitle != null" >
        #{pageTitle},
      </if>
      <if test="isValid != null" >
        #{isValid},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.product.model.ProductCategoryExample" resultType="java.lang.Integer" >
    select count(*) from pro_product_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.product.model.ProductCategory" >
    update pro_product_category
    <set >
      <if test="cateCode != null" >
        cate_code = #{cateCode},
      </if>
      <if test="cateName != null" >
        cate_name = #{cateName},
      </if>
      <if test="pid != null" >
        pid = #{pid},
      </if>
      <if test="level != null" >
        level = #{level},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="keyworks != null" >
        keyworks = #{keyworks},
      </if>
      <if test="pageTitle != null" >
        page_title = #{pageTitle},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.product.model.ProductCategory" >
    update pro_product_category
    set cate_code = #{cateCode},
      cate_name = #{cateName},
      pid = #{pid},
      level = #{level},
      description = #{description},
      keyworks = #{keyworks},
      page_title = #{pageTitle},
      is_valid = #{isValid},
      create_time = #{createTime},
      create_account = #{createAccount},
      update_time = #{updateTime},
      update_account = #{updateAccount}
    where id = #{id}
  </update>

  <update id="inValidated" parameterType="java.lang.Long" >
    update pro_product_category
    set is_valid = '0'
    where id = #{id}
  </update>
</mapper>