<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.system.client.ExpressMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.system.model.Express" >
    <id column="id" property="id" />
    <result column="code" property="code" />
    <result column="name" property="name" />
    <result column="fee" property="fee" />
    <result column="ordinal" property="ordinal" />
    <result column="create_time" property="createTime" />
    <result column="create_account" property="createAccount" />
    <result column="update_time" property="updateTime" />
    <result column="update_account" property="updateAccount" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, name, fee, ordinal, create_time, create_account, update_time, update_account
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.system.model.ExpressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_express
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_express
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_express
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.system.model.Express" >
    insert into sys_express (id, code, name, fee, ordinal, create_time, create_account, 
      update_time, update_account)
    values (#{id}, #{code}, #{name}, #{fee}, #{ordinal}, #{createTime}, #{createAccount}, 
      #{updateTime}, #{updateAccount})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.system.model.Express" >
    insert into sys_express
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="ordinal != null" >
        ordinal,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="fee != null" >
        #{fee},
      </if>
      <if test="ordinal != null" >
        #{ordinal},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.system.model.ExpressExample" resultType="java.lang.Integer" >
    select count(*) from sys_express
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.system.model.Express" >
    update sys_express
    <set >
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="fee != null" >
        fee = #{fee},
      </if>
      <if test="ordinal != null" >
        ordinal = #{ordinal},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.system.model.Express" >
    update sys_express
    set code = #{code},
      name = #{name},
      fee = #{fee},
      ordinal = #{ordinal},
      create_time = #{createTime},
      create_account = #{createAccount},
      update_time = #{updateTime},
      update_account = #{updateAccount}
    where id = #{id}
  </update>
</mapper>