<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.system.client.SystemSettingMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.system.model.SystemSetting" >
    <id column="id" property="id" />
    <result column="system_Code" property="systemCode" />
    <result column="name" property="name" />
    <result column="www" property="www" />
    <result column="logo" property="logo" />
    <result column="title" property="title" />
    <result column="description" property="description" />
    <result column="keywords" property="keywords" />
    <result column="shortcuticon" property="shortcuticon" />
    <result column="address" property="address" />
    <result column="tel" property="tel" />
    <result column="email" property="email" />
    <result column="icp" property="icp" />
    <result column="is_open" property="isOpen" />
    <result column="close_Msg" property="closeMsg" />
    <result column="qq" property="qq" />
    <result column="image_Root_Path" property="imageRootPath" />
    <result column="manage_Http" property="manageHttp" />
    <result column="default_Product_Img" property="defaultProductImg" />
    <result column="style" property="style" />
    <result column="version" property="version" />
    <result column="manage_Left_Tree_Leaf_Icon" property="manageLeftTreeLeafIcon" />
    <result column="statistics_Code" property="statisticsCode" />
    <result column="open_Responsive" property="openResponsive" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="create_Account" property="createAccount" />
    <result column="update_Account" property="updateAccount" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="net.jeeshop.biz.system.model.SystemSetting" extends="BaseResultMap" >
    <result column="qq_Help_Html" property="qqHelpHtml" />
    <result column="images" property="images" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, system_Code, name, www, logo, title, description, keywords, shortcuticon, address, 
    tel, email, icp, is_open, close_Msg, qq, image_Root_Path, manage_Http, default_Product_Img, 
    style, version, manage_Left_Tree_Leaf_Icon, statistics_Code, open_Responsive, create_time, 
    update_time, create_Account, update_Account
  </sql>
  <sql id="Blob_Column_List" >
    qq_Help_Html, images
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="net.jeeshop.biz.system.model.SystemSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_system_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.system.model.SystemSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_system_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_system_setting
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_system_setting
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.system.model.SystemSetting" >
    insert into sys_system_setting (id, system_Code, name, www, logo, title, description, 
      keywords, shortcuticon, address, tel, email, icp, is_open, 
      close_Msg, qq, image_Root_Path, manage_Http, default_Product_Img, style, 
      version, manage_Left_Tree_Leaf_Icon, statistics_Code, open_Responsive, create_time, 
      update_time, create_Account, update_Account, qq_Help_Html, images)
    values (#{id}, #{systemCode}, #{name}, #{www}, #{logo}, #{title}, #{description}, 
      #{keywords}, #{shortcuticon}, #{address}, #{tel}, #{email}, #{icp}, #{isOpen}, 
      #{closeMsg}, #{qq}, #{imageRootPath}, #{manageHttp}, #{defaultProductImg}, #{style}, 
      #{version}, #{manageLeftTreeLeafIcon}, #{statisticsCode}, #{openResponsive}, #{createTime}, 
      #{updateTime}, #{createAccount}, #{updateAccount}, #{qqHelpHtml}, #{images})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.system.model.SystemSetting" >
    insert into sys_system_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systemCode != null" >
        system_Code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="www != null" >
        www,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="shortcuticon != null" >
        shortcuticon,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="icp != null" >
        icp,
      </if>
      <if test="isOpen != null" >
        is_open,
      </if>
      <if test="closeMsg != null" >
        close_Msg,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="imageRootPath != null" >
        image_Root_Path,
      </if>
      <if test="manageHttp != null" >
        manage_Http,
      </if>
      <if test="defaultProductImg != null" >
        default_Product_Img,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="manageLeftTreeLeafIcon != null" >
        manage_Left_Tree_Leaf_Icon,
      </if>
      <if test="statisticsCode != null" >
        statistics_Code,
      </if>
      <if test="openResponsive != null" >
        open_Responsive,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createAccount != null" >
        create_Account,
      </if>
      <if test="updateAccount != null" >
        update_Account,
      </if>
      <if test="qqHelpHtml != null" >
        qq_Help_Html,
      </if>
      <if test="images != null" >
        images,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="systemCode != null" >
        #{systemCode},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="www != null" >
        #{www},
      </if>
      <if test="logo != null" >
        #{logo},
      </if>
      <if test="title != null" >
        #{title},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="keywords != null" >
        #{keywords},
      </if>
      <if test="shortcuticon != null" >
        #{shortcuticon},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="tel != null" >
        #{tel},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="icp != null" >
        #{icp},
      </if>
      <if test="isOpen != null" >
        #{isOpen},
      </if>
      <if test="closeMsg != null" >
        #{closeMsg},
      </if>
      <if test="qq != null" >
        #{qq},
      </if>
      <if test="imageRootPath != null" >
        #{imageRootPath},
      </if>
      <if test="manageHttp != null" >
        #{manageHttp},
      </if>
      <if test="defaultProductImg != null" >
        #{defaultProductImg},
      </if>
      <if test="style != null" >
        #{style},
      </if>
      <if test="version != null" >
        #{version},
      </if>
      <if test="manageLeftTreeLeafIcon != null" >
        #{manageLeftTreeLeafIcon},
      </if>
      <if test="statisticsCode != null" >
        #{statisticsCode},
      </if>
      <if test="openResponsive != null" >
        #{openResponsive},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
      <if test="qqHelpHtml != null" >
        #{qqHelpHtml},
      </if>
      <if test="images != null" >
        #{images},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.system.model.SystemSettingExample" resultType="java.lang.Integer" >
    select count(*) from sys_system_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.system.model.SystemSetting" >
    update sys_system_setting
    <set >
      <if test="systemCode != null" >
        system_Code = #{systemCode},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="www != null" >
        www = #{www},
      </if>
      <if test="logo != null" >
        logo = #{logo},
      </if>
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords},
      </if>
      <if test="shortcuticon != null" >
        shortcuticon = #{shortcuticon},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="tel != null" >
        tel = #{tel},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="icp != null" >
        icp = #{icp},
      </if>
      <if test="isOpen != null" >
        is_open = #{isOpen},
      </if>
      <if test="closeMsg != null" >
        close_Msg = #{closeMsg},
      </if>
      <if test="qq != null" >
        qq = #{qq},
      </if>
      <if test="imageRootPath != null" >
        image_Root_Path = #{imageRootPath},
      </if>
      <if test="manageHttp != null" >
        manage_Http = #{manageHttp},
      </if>
      <if test="defaultProductImg != null" >
        default_Product_Img = #{defaultProductImg},
      </if>
      <if test="style != null" >
        style = #{style},
      </if>
      <if test="version != null" >
        version = #{version},
      </if>
      <if test="manageLeftTreeLeafIcon != null" >
        manage_Left_Tree_Leaf_Icon = #{manageLeftTreeLeafIcon},
      </if>
      <if test="statisticsCode != null" >
        statistics_Code = #{statisticsCode},
      </if>
      <if test="openResponsive != null" >
        open_Responsive = #{openResponsive},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="createAccount != null" >
        create_Account = #{createAccount},
      </if>
      <if test="updateAccount != null" >
        update_Account = #{updateAccount},
      </if>
      <if test="qqHelpHtml != null" >
        qq_Help_Html = #{qqHelpHtml},
      </if>
      <if test="images != null" >
        images = #{images},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.jeeshop.biz.system.model.SystemSetting" >
    update sys_system_setting
    set system_Code = #{systemCode},
      name = #{name},
      www = #{www},
      logo = #{logo},
      title = #{title},
      description = #{description},
      keywords = #{keywords},
      shortcuticon = #{shortcuticon},
      address = #{address},
      tel = #{tel},
      email = #{email},
      icp = #{icp},
      is_open = #{isOpen},
      close_Msg = #{closeMsg},
      qq = #{qq},
      image_Root_Path = #{imageRootPath},
      manage_Http = #{manageHttp},
      default_Product_Img = #{defaultProductImg},
      style = #{style},
      version = #{version},
      manage_Left_Tree_Leaf_Icon = #{manageLeftTreeLeafIcon},
      statistics_Code = #{statisticsCode},
      open_Responsive = #{openResponsive},
      create_time = #{createTime},
      update_time = #{updateTime},
      create_Account = #{createAccount},
      update_Account = #{updateAccount},
      qq_Help_Html = #{qqHelpHtml},
      images = #{images}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.system.model.SystemSetting" >
    update sys_system_setting
    set system_Code = #{systemCode},
      name = #{name},
      www = #{www},
      logo = #{logo},
      title = #{title},
      description = #{description},
      keywords = #{keywords},
      shortcuticon = #{shortcuticon},
      address = #{address},
      tel = #{tel},
      email = #{email},
      icp = #{icp},
      is_open = #{isOpen},
      close_Msg = #{closeMsg},
      qq = #{qq},
      image_Root_Path = #{imageRootPath},
      manage_Http = #{manageHttp},
      default_Product_Img = #{defaultProductImg},
      style = #{style},
      version = #{version},
      manage_Left_Tree_Leaf_Icon = #{manageLeftTreeLeafIcon},
      statistics_Code = #{statisticsCode},
      open_Responsive = #{openResponsive},
      create_time = #{createTime},
      update_time = #{updateTime},
      create_Account = #{createAccount},
      update_Account = #{updateAccount}
    where id = #{id}
  </update>
</mapper>