<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.cms.client.ArticleMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.cms.model.Article" >
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="second_title" property="secondTitle" />
    <result column="code" property="code" />
    <result column="reader_count" property="readerCount" />
    <result column="status" property="status" />
    <result column="catalog_id" property="catalogId" />
    <result column="order1" property="order1" />
    <result column="type" property="type" />
    <result column="create_account" property="createAccount" />
    <result column="create_time" property="createTime" />
    <result column="update_account" property="updateAccount" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="net.jeeshop.biz.cms.model.Article" extends="BaseResultMap" >
    <result column="content" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, second_title, code, reader_count, status, catalog_id, order1, type, create_account, 
    create_time, update_account, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="net.jeeshop.biz.cms.model.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.cms.model.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_article
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_article
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.cms.model.Article" >
    insert into t_article (id, title, second_title, code, reader_count, status, catalog_id, 
      order1, type, create_account, create_time, update_account, update_time, 
      content)
    values (#{id}, #{title}, #{secondTitle}, #{code}, #{readerCount}, #{status}, #{catalogId}, 
      #{order1}, #{type}, #{createAccount}, #{createTime}, #{updateAccount}, #{updateTime}, 
      #{content})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.cms.model.Article" >
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="secondTitle != null" >
        second_title,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="readerCount != null" >
        reader_count,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="catalogId != null" >
        catalog_id,
      </if>
      <if test="order1 != null" >
        order1,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="title != null" >
        #{title},
      </if>
      <if test="secondTitle != null" >
        #{secondTitle},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="readerCount != null" >
        #{readerCount},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="catalogId != null" >
        #{catalogId},
      </if>
      <if test="order1 != null" >
        #{order1},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="content != null" >
        #{content},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.cms.model.ArticleExample" resultType="java.lang.Integer" >
    select count(*) from t_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.cms.model.Article" >
    update t_article
    <set >
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="secondTitle != null" >
        second_title = #{secondTitle},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="readerCount != null" >
        reader_count = #{readerCount},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="catalogId != null" >
        catalog_id = #{catalogId},
      </if>
      <if test="order1 != null" >
        order1 = #{order1},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.jeeshop.biz.cms.model.Article" >
    update t_article
    set title = #{title},
      second_title = #{secondTitle},
      code = #{code},
      reader_count = #{readerCount},
      status = #{status},
      catalog_id = #{catalogId},
      order1 = #{order1},
      type = #{type},
      create_account = #{createAccount},
      create_time = #{createTime},
      update_account = #{updateAccount},
      update_time = #{updateTime},
      content = #{content}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.cms.model.Article" >
    update t_article
    set title = #{title},
      second_title = #{secondTitle},
      code = #{code},
      reader_count = #{readerCount},
      status = #{status},
      catalog_id = #{catalogId},
      order1 = #{order1},
      type = #{type},
      create_account = #{createAccount},
      create_time = #{createTime},
      update_account = #{updateAccount},
      update_time = #{updateTime}
    where id = #{id}
  </update>
</mapper>