<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.cms.client.UsersMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.cms.model.Users" >
    <id column="user_id" property="userId" />
    <result column="email" property="email" />
    <result column="user_name" property="userName" />
    <result column="password" property="password" />
    <result column="question" property="question" />
    <result column="answer" property="answer" />
    <result column="sex" property="sex" />
    <result column="birthday" property="birthday" />
    <result column="user_money" property="userMoney" />
    <result column="frozen_money" property="frozenMoney" />
    <result column="pay_points" property="payPoints" />
    <result column="rank_points" property="rankPoints" />
    <result column="address_id" property="addressId" />
    <result column="reg_time" property="regTime" />
    <result column="last_login" property="lastLogin" />
    <result column="last_time" property="lastTime" />
    <result column="last_ip" property="lastIp" />
    <result column="visit_count" property="visitCount" />
    <result column="user_rank" property="userRank" />
    <result column="is_special" property="isSpecial" />
    <result column="salt" property="salt" />
    <result column="parent_id" property="parentId" />
    <result column="flag" property="flag" />
    <result column="alias" property="alias" />
    <result column="msn" property="msn" />
    <result column="qq" property="qq" />
    <result column="office_phone" property="officePhone" />
    <result column="home_phone" property="homePhone" />
    <result column="mobile_phone" property="mobilePhone" />
    <result column="is_validated" property="isValidated" />
    <result column="credit_line" property="creditLine" />
    <result column="create_time" property="createTime" />
    <result column="create_account" property="createAccount" />
    <result column="update_time" property="updateTime" />
    <result column="update_account" property="updateAccount" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, email, user_name, password, question, answer, sex, birthday, user_money, 
    frozen_money, pay_points, rank_points, address_id, reg_time, last_login, last_time, 
    last_ip, visit_count, user_rank, is_special, salt, parent_id, flag, alias, msn, qq, 
    office_phone, home_phone, mobile_phone, is_validated, credit_line, create_time, create_account, 
    update_time, update_account
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.cms.model.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ecs_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ecs_users
    where user_id = #{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ecs_users
    where user_id = #{userId}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.cms.model.Users" >
    insert into ecs_users (user_id, email, user_name, password, question, answer, sex, 
      birthday, user_money, frozen_money, pay_points, rank_points, address_id, 
      reg_time, last_login, last_time, last_ip, visit_count, user_rank, is_special, 
      salt, parent_id, flag, alias, msn, qq, office_phone, home_phone, 
      mobile_phone, is_validated, credit_line, create_time, create_account, 
      update_time, update_account)
    values (#{userId}, #{email}, #{userName}, #{password}, #{question}, #{answer}, #{sex}, 
      #{birthday}, #{userMoney}, #{frozenMoney}, #{payPoints}, #{rankPoints}, #{addressId}, 
      #{regTime}, #{lastLogin}, #{lastTime}, #{lastIp}, #{visitCount}, #{userRank}, #{isSpecial}, 
      #{salt}, #{parentId}, #{flag}, #{alias}, #{msn}, #{qq}, #{officePhone}, #{homePhone}, 
      #{mobilePhone}, #{isValidated}, #{creditLine}, #{createTime}, #{createAccount}, 
      #{updateTime}, #{updateAccount})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.cms.model.Users" >
    insert into ecs_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="userMoney != null" >
        user_money,
      </if>
      <if test="frozenMoney != null" >
        frozen_money,
      </if>
      <if test="payPoints != null" >
        pay_points,
      </if>
      <if test="rankPoints != null" >
        rank_points,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="lastLogin != null" >
        last_login,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="lastIp != null" >
        last_ip,
      </if>
      <if test="visitCount != null" >
        visit_count,
      </if>
      <if test="userRank != null" >
        user_rank,
      </if>
      <if test="isSpecial != null" >
        is_special,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="msn != null" >
        msn,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="officePhone != null" >
        office_phone,
      </if>
      <if test="homePhone != null" >
        home_phone,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="isValidated != null" >
        is_validated,
      </if>
      <if test="creditLine != null" >
        credit_line,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="question != null" >
        #{question},
      </if>
      <if test="answer != null" >
        #{answer},
      </if>
      <if test="sex != null" >
        #{sex},
      </if>
      <if test="birthday != null" >
        #{birthday},
      </if>
      <if test="userMoney != null" >
        #{userMoney},
      </if>
      <if test="frozenMoney != null" >
        #{frozenMoney},
      </if>
      <if test="payPoints != null" >
        #{payPoints},
      </if>
      <if test="rankPoints != null" >
        #{rankPoints},
      </if>
      <if test="addressId != null" >
        #{addressId},
      </if>
      <if test="regTime != null" >
        #{regTime},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin},
      </if>
      <if test="lastTime != null" >
        #{lastTime},
      </if>
      <if test="lastIp != null" >
        #{lastIp},
      </if>
      <if test="visitCount != null" >
        #{visitCount},
      </if>
      <if test="userRank != null" >
        #{userRank},
      </if>
      <if test="isSpecial != null" >
        #{isSpecial},
      </if>
      <if test="salt != null" >
        #{salt},
      </if>
      <if test="parentId != null" >
        #{parentId},
      </if>
      <if test="flag != null" >
        #{flag},
      </if>
      <if test="alias != null" >
        #{alias},
      </if>
      <if test="msn != null" >
        #{msn},
      </if>
      <if test="qq != null" >
        #{qq},
      </if>
      <if test="officePhone != null" >
        #{officePhone},
      </if>
      <if test="homePhone != null" >
        #{homePhone},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone},
      </if>
      <if test="isValidated != null" >
        #{isValidated},
      </if>
      <if test="creditLine != null" >
        #{creditLine},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.cms.model.UsersExample" resultType="java.lang.Integer" >
    select count(*) from ecs_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.cms.model.Users" >
    update ecs_users
    <set >
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="userName != null" >
        user_name = #{userName},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="question != null" >
        question = #{question},
      </if>
      <if test="answer != null" >
        answer = #{answer},
      </if>
      <if test="sex != null" >
        sex = #{sex},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday},
      </if>
      <if test="userMoney != null" >
        user_money = #{userMoney},
      </if>
      <if test="frozenMoney != null" >
        frozen_money = #{frozenMoney},
      </if>
      <if test="payPoints != null" >
        pay_points = #{payPoints},
      </if>
      <if test="rankPoints != null" >
        rank_points = #{rankPoints},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime},
      </if>
      <if test="lastLogin != null" >
        last_login = #{lastLogin},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime},
      </if>
      <if test="lastIp != null" >
        last_ip = #{lastIp},
      </if>
      <if test="visitCount != null" >
        visit_count = #{visitCount},
      </if>
      <if test="userRank != null" >
        user_rank = #{userRank},
      </if>
      <if test="isSpecial != null" >
        is_special = #{isSpecial},
      </if>
      <if test="salt != null" >
        salt = #{salt},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId},
      </if>
      <if test="flag != null" >
        flag = #{flag},
      </if>
      <if test="alias != null" >
        alias = #{alias},
      </if>
      <if test="msn != null" >
        msn = #{msn},
      </if>
      <if test="qq != null" >
        qq = #{qq},
      </if>
      <if test="officePhone != null" >
        office_phone = #{officePhone},
      </if>
      <if test="homePhone != null" >
        home_phone = #{homePhone},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone},
      </if>
      <if test="isValidated != null" >
        is_validated = #{isValidated},
      </if>
      <if test="creditLine != null" >
        credit_line = #{creditLine},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
    </set>
    where user_id = #{userId}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.cms.model.Users" >
    update ecs_users
    set email = #{email},
      user_name = #{userName},
      password = #{password},
      question = #{question},
      answer = #{answer},
      sex = #{sex},
      birthday = #{birthday},
      user_money = #{userMoney},
      frozen_money = #{frozenMoney},
      pay_points = #{payPoints},
      rank_points = #{rankPoints},
      address_id = #{addressId},
      reg_time = #{regTime},
      last_login = #{lastLogin},
      last_time = #{lastTime},
      last_ip = #{lastIp},
      visit_count = #{visitCount},
      user_rank = #{userRank},
      is_special = #{isSpecial},
      salt = #{salt},
      parent_id = #{parentId},
      flag = #{flag},
      alias = #{alias},
      msn = #{msn},
      qq = #{qq},
      office_phone = #{officePhone},
      home_phone = #{homePhone},
      mobile_phone = #{mobilePhone},
      is_validated = #{isValidated},
      credit_line = #{creditLine},
      create_time = #{createTime},
      create_account = #{createAccount},
      update_time = #{updateTime},
      update_account = #{updateAccount}
    where user_id = #{userId}
  </update>
</mapper>