<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.member.client.MemberRankMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.member.model.MemberRank" >
    <id column="id" property="id" />
    <result column="create_account" property="createAccount" />
    <result column="create_time" property="createTime" />
    <result column="update_account" property="updateAccount" />
    <result column="update_time" property="updateTime" />
    <result column="rank_name" property="rankName" />
    <result column="rank_code" property="rankCode" />
    <result column="min_score" property="minScore" />
    <result column="max_score" property="maxScore" />
    <result column="remark" property="remark" />
    <result column="is_valid" property="isValid" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_account, create_time, update_account, update_time, rank_name, rank_code, 
    min_score, max_score, remark, is_valid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.member.model.MemberRankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from member_rank
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from member_rank
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.member.model.MemberRank" >
    insert into member_rank (id, create_account, create_time, update_account, update_time, 
      rank_name, rank_code, min_score, max_score, remark, is_valid)
    values (#{id}, #{createAccount}, #{createTime}, #{updateAccount}, #{updateTime}, 
      #{rankName}, #{rankCode}, #{minScore}, #{maxScore}, #{remark}, #{isValid})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.member.model.MemberRank" >
    insert into member_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="rankName != null" >
        rank_name,
      </if>
      <if test="rankCode != null" >
        rank_code,
      </if>
      <if test="minScore != null" >
        min_score,
      </if>
      <if test="maxScore != null" >
        max_score,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="rankName != null" >
        #{rankName},
      </if>
      <if test="rankCode != null" >
        #{rankCode},
      </if>
      <if test="minScore != null" >
        #{minScore},
      </if>
      <if test="maxScore != null" >
        #{maxScore},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="isValid != null" >
        #{isValid},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.member.model.MemberRankExample" resultType="java.lang.Integer" >
    select count(*) from member_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.member.model.MemberRank" >
    update member_rank
    <set >
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="rankName != null" >
        rank_name = #{rankName},
      </if>
      <if test="rankCode != null" >
        rank_code = #{rankCode},
      </if>
      <if test="minScore != null" >
        min_score = #{minScore},
      </if>
      <if test="maxScore != null" >
        max_score = #{maxScore},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.member.model.MemberRank" >
    update member_rank
    set create_account = #{createAccount},
      create_time = #{createTime},
      update_account = #{updateAccount},
      update_time = #{updateTime},
      rank_name = #{rankName},
      rank_code = #{rankCode},
      min_score = #{minScore},
      max_score = #{maxScore},
      remark = #{remark},
      is_valid = #{isValid}
    where id = #{id}
  </update>
</mapper>